{% extends "admin/base.html.twig" %}

{% block body %}
  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Projets 2021
            <i class="fas fa-folder-open"></i>
          </div>
          <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
          <div class="card-header">Clients 2021
            <i class="fas fa-users"></i>
          </div>
          <div class="card-body">
            <h4 class="card-title">Success card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
          <div class="card-header">Chiffre d'Affaire 2021
            <i class="fas fa-euro-sign"></i>
          </div>
          <div class="card-body">
            <h4 class="card-title">Danger card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
          <div class="card-header">Marge 2021
            <i class="fas fa-chart-line"></i>
          </div>
          <div class="card-body">
            <h4 class="card-title">Warning card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
